body{
  font-family: 'Baloo Tamma', cursive;
  background: #f5f5f5;
  background: -webkit-linear-gradient(180deg, #f5f5f5 0%, #056 100%);
  background: -moz-linear-gradient(180deg, #f5f5f5 0%, #056 100%);
  background: linear-gradient(180deg, #f5f5f5 0%, #056 100%);
  overflow: hidden;
  height: 75rem;
}

h2{
  margin-left: 40rem;
  font-size: 3rem;
}

h4{
  font-size: 2rem;
  margin-left: 50rem;
}

img{
  position: absolute;
  margin-left: 70rem;
  margin-top: 10rem;
  bottom: 15rem;
}

.Texto{
  font-family: 'Baloo Tamma', cursive;
}

.space{
  height: 300px;
}

.Logo{
  position: relative;
  padding-top: 5rem;
  padding-bottom: 0px;
  margin-left: 2rem;
  margin-top: 12rem;
  width: 228px;
  height: 220px;
}

.Texto-Grande{
  position: relative;
  margin-left: 34rem;
  font-size: 7rem;
}

.TDN{
  margin-left: 25rem;
  font-size: 1.5rem;
  margin-top: 24rem;
  position: relative;
}

.posicion{
  position: relative;
  margin: 0px 0px 0px 0px;
}

.Img2{
  position: absolute;
  width: 40rem;
  margin-bottom: 12rem;
 padding-right: 5rem;
}
/* *******************Estilo del Boton********************************** */
:root {
    --bg: #1a1e24;
    --color: #eee;
    --font: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.wrapper {
    padding: 1.5rem 0;
    filter: url('#goo');
}

.button {
    display: inline-block;
    text-align: center;
    background: var(--color);
    color: var(--bg);
    font-weight: bold;
    padding: 1.18em 1.32em 1.03em;
    line-height: 1;
    border-radius: 1em;
    position: relative;
    min-width: 8.23em;
    text-decoration: none;
    font-family: var(--font);
    font-size: 1.25rem;
    left: 56rem;
    bottom: 3rem;
}

.button:before,
.button:after {
    width: 4.4em;
    height: 2.95em;
    position: absolute;
    content: "";
    display: inline-block;
    background: var(--color);
    border-radius: 50%;
    transition: transform 1s ease;
    transform: scale(0);
    z-index: -1;
}

.button:before {
    top: -25%;
    left: 20%;
}

.button:after {
    bottom: -25%;
    right: 20%;
}

.button:hover:before,
.button:hover:after {
    transform: none;
}
