.Logo{
  position: relative;
  padding-top: 2rem;
  z-index: 1;
  margin-right: 110rem;
  padding-left: 2rem;
  align-content: space-around;
  width: 238px;
  height: 230px;
}

.Tech{
  position: absolute;
  left: 22rem;
  top: 2.9rem;
  width: 8rem;
}

.Tech2{
  position: absolute;
  left: 30rem;
  top: -1.5rem;
  width: 17rem;

}

.tech3{
  position: absolute;
  top: 1rem;
  left: 45rem;
  width: 17rem;
}

.tech4{
  position: absolute;
  top: 1.5rem;
  left: 62rem;
  width: 6rem;
}

.tech5{
  position: absolute;
  top: -3rem;
  left: 66rem;
  width: 25rem;
}

.tech6{
  position: absolute;
  top: 0.5rem;
  left: 88rem;
  width: 13rem;
}

.tech7{
  position: absolute;
  top: 1.5rem;
  left: 105rem;
  width: 10rem;
}

.tech8{
  position: absolute;
  top: 18rem;
  left: 2rem;
  width: 20rem;
}

.tech9{
  position: absolute;
  top: 26rem;
  left: 2rem;
  width: 20rem;
}

.tech10{
  position: absolute;
  top: 38.5rem;
  left: 4rem;
  width: 15rem;
}

.tech11{
  position: absolute;
  top: 8rem;
  left: 107.5rem;
  width: 5rem;
}

.tech12{
  position: absolute;
  top: 51.5rem;
  left: 115rem;
  width: 5rem;
  transform: rotate(50deg);
}
.tech13{
  position: absolute;
  top: 51rem;
  left: 113.5rem;
  width: 5rem;
}

.tech14{
  position: absolute;
  top: 51.5rem;
  left: 112rem;
  width: 5rem;
  transform: rotate(-50deg);
}

.tech15{
  position: absolute;
  top: 18rem;
  left: 106rem;
  width: 10rem;

}

.tech16{
  position: absolute;
  top: 27rem;
  left: 108.5rem;
  width: 6rem;

}

.tech17{
  position: absolute;
  top: 37rem;
  left: 106rem;
  width: 12rem;

}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 10px;
  margin: auto;
}
.form-signin {
  font-weight: 400;
  z-index: 1;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.top {
  margin-bottom: 0.1rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  z-index: 1;
}
.medio {
  margin-bottom: 0.1rem;
  z-index: 1;
}

.botton {
  margin-bottom: 0.1rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  z-index: 1
}
.mb-4{
 width: 20rem;
 height: 12rem;
 z-index: -1;
 padding-bottom: 2rem;
}

.mb-3{
  z-index: 1;
  font-family: 'Special Elite', cursive;
}

.mt-5{
  font-family: 'Baloo Tamma', cursive;
  font-size: 1rem;
  color: #A09696;
}

.vid-border{
  position: relative;
  height: 17.2rem;
  width: 30rem;
  border: 5px solid #f5f5f5;
  overflow: hidden;
  top: 8rem;
  right: 5.2rem;
  z-index: 1;
}
.btn{
margin-top: 1rem;
width: 19rem;

}

#vid {
  padding-bottom: 13.3rem;
  position: absolute;
  left:-1px;
  height: 30rem;
  width: 30rem;
}

body {
    margin: 0;
    padding: 0;
    overflow:hidden;
}
/* *************************FONDO de PAGINA Animacion************************************************* */
.example2 {
    background: #f5f5f5;
    background: -webkit-linear-gradient(180deg, #f5f5f5 0%, #056 100%);
    background: -moz-linear-gradient(180deg, #f5f5f5 0%, #056 100%);
    background: linear-gradient(180deg, #f5f5f5 0%, #056 100%);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.cuadrados {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.cuadrados li {
    position: absolute;
    list-style: none;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.15);
    bottom: -160px;
    -webkit-animation: square 25s infinite linear;
    -moz-animation: square 25s infinite linear;
    animation: square 25s infinite linear;
}
.cuadrados li:nth-child(1) {
    left: 10%;
}
.cuadrados li:nth-child(2) {
    left: 20%;
    width: 80px;
    height: 80px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    -moz-animation-duration: 17s;
    animation-duration: 17s;
}
.cuadrados li:nth-child(3) {
    left: 25%;
    -webkit-animation-delay: 4s;
    -moz-animation-delay: 4s;
    animation-delay: 4s;
}
.cuadrados li:nth-child(4) {
    left: 40%;
    width: 60px;
    height: 60px;
    -webkit-animation-duration: 22s;
    -moz-animation-duration: 22s;
    animation-duration: 22s;
    background-color: rgba(255, 255, 255, 0.25);
}
.cuadrados li:nth-child(5) {
    left: 70%;
}
.cuadrados li:nth-child(6) {
    left: 80%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    background-color: rgba(255, 255, 255, 0.2);
}
.cuadrados li:nth-child(7) {
    left: 32%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 7s;
    -moz-animation-delay: 7s;
    animation-delay: 7s;
}
.cuadrados li:nth-child(8) {
    left: 55%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
}
.cuadrados li:nth-child(9) {
    left: 25%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(10) {
    left: 90%;
    width: 160px;
    height: 160px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
}
.cuadrados li:nth-child(11) {
    left: 15%;
    width: 17px;
    height: 17px;
    -webkit-animation-delay: 12s;
    -moz-animation-delay: 12s;
    animation-delay: 12s;
    -webkit-animation-duration: 40s;
    -moz-animation-duration: 40s;
    animation-duration: 40s;
    background-color: rgba(255, 255, 255, 0.5);
}
.cuadrados li:nth-child(12) {
    left: 20%;
    width: 5px;
    height: 5px;
    -webkit-animation-delay: 15s;
    -moz-animation-delay: 15s;
    animation-delay: 15s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.1);
}
.cuadrados li:nth-child(13) {
    left: 45%;
    width: 8px;
    height: 8px;
    -webkit-animation-delay: 17s;
    -moz-animation-delay: 17s;
    animation-delay: 17s;
    -webkit-animation-duration: 29s;
    -moz-animation-duration: 29s;
    animation-duration: 29s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(14) {
    left: 50%;
    width: 120px;
    height: 120px;
    -webkit-animation-delay: 11s;
    -moz-animation-delay: 11s;
    animation-delay: 11s;
    -webkit-animation-duration: 19s;
    -moz-animation-duration: 19s;
    animation-duration: 19s;
    background-color: rgba(255, 255, 255, 0.35);
}
.cuadrados li:nth-child(15) {
    left: 67%;
    width: 50px;
    height: 50px;
    -webkit-animation-delay: 6s;
    -moz-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: 12s;
    -moz-animation-duration: 12s;
    animation-duration: 12s;
    background-color: rgba(255, 255, 255, 0.5);
}
.cuadrados li:nth-child(16) {
    left: 75%;
    width: 20px;
    height: 20px;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 25s;
    -moz-animation-duration: 25s;
    animation-duration: 25s;
    background-color: rgba(255, 255, 255, 0.3);
}
.cuadrados li:nth-child(17) {
    left: 10%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 20s;
    -moz-animation-duration: 20s;
    animation-duration: 20s;
    background-color: rgba(255, 255, 255, 0.45);
}
.cuadrados li:nth-child(18) {
    left: 55%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 32s;
    -moz-animation-duration: 32s;
    animation-duration: 32s;
    background-color: rgba(255, 255, 255, 0.4);
}
.cuadrados li:nth-child(19) {
    left: 59%;
    width: 10px;
    height: 10px;
    -webkit-animation-delay: 8s;
    -moz-animation-delay: 8s;
    animation-delay: 8s;
    -webkit-animation-duration: 15s;
    -moz-animation-duration: 15s;
    animation-duration: 15s;
    background-color: rgba(255, 255, 255, 0.4);
}
.cuadrados li:nth-child(20) {
    left: 5%;
    width: 15px;
    height: 15px;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    animation-delay: 3s;
    -webkit-animation-duration: 10s;
    -moz-animation-duration: 10s;
    animation-duration: 10s;
    background-color: rgba(255, 255, 255, 0.25);
}

/*************************************************************************************************
* Animaciones
*/

@-webkit-keyframes square {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(-100%) rotate(600deg);
    transform: translateY(-100%) rotate(600deg);
}
}
@-moz-keyframes square {
    0% {
    -moz-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -moz-transform: translateY(-100%) rotate(600deg);
    transform: translateY(-100%) rotate(600deg);
}
}
@keyframes square {
    0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
}
100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
    transform: translateY(-1500px) rotate(600deg);
}
}

.deepshadow {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow:
      0 -1px 0 #fff,
      0 1px 0 #2e2e2e,
      0 2px 0 #2c2c2c,
      0 3px 0 #2a2a2a,
      0 4px 0 #282828,
      0 5px 0 #262626,
      0 6px 0 #242424,
      0 7px 0 #222,
      0 8px 0 #202020,
      0 9px 0 #1e1e1e,
      0 10px 0 #1c1c1c,
      0 11px 0 #1a1a1a,
      0 12px 0 #181818,
      0 13px 0 #161616,
      0 14px 0 #141414,
      0 15px 0 #121212,
      0 22px 30px rgba(0, 0, 0, 0.9);
      z-index: 1;
  }
/* *****************BOTON de Registro****************************** */
.boton{
  margin-left: 0.7rem;
  background: #056;
  border-bottom: 5px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  box-shadow: 6px 6px 6px #999;
  color: #fff;
  cursor: pointer;
  display: block;
  font-family: 'Special Elite', cursive;
  font-size: 28px;
  height: 3.2rem;
  padding-top: 0px;
  padding-bottom: 3px;
  text-align: center;
  transition: all 0.2s ease 0s;
  width: 18rem;
  z-index: 2;
}
.boton:hover{
	background:  rgba(255, 255, 255, 0.2);
}
.boton:active {
	box-shadow: 2px 2px 2px #777, 0px 0px 35px 0px #181818;
	border-bottom:1px solid #056;
  text-shadow:  0px 0px 5px #fff, 0px 0px 5px #fff;
	transform: translateY(3px);
  transition: all 0.1s ease 0s;
  margin: 20px auto 30px auto;
}
